core:
  log:
    level: info
    path: ./logs/aliyunbot
    maxsize: 100
    maxage: 7
    compress: true

tasks:
  - name: aliyun_revoke_security_group
    enabled: false
    type: RevokeSecurityGroup
    threads: 5
    aliyun:
      access_key_id: your_access_key_id
      access_key_secret: your_access_key_secret
      region_id: cn-shenzhen
      endpoint: ecs.cn-shenzhen.aliyuncs.com
    input:
      type: csv
      path: ./data
      target: rules.csv
  - name: aliyun_fetch_slb
    enabled: true
    type: DescribeLoadBalancers
    threads: 5
    aliyun:
      access_key_id: your_access_key_id
      access_key_secret: your_access_key_secret
      region_id: cn-shenzhen
      endpoint: slb.cn-shenzhen.aliyuncs.com
    output:
      type: mysql
      path: root:123456@tcp(127.0.0.1:3306)/aliyun?charset=utf8mb4
      target: slb
