core:
  log:
    level: info
    path: ./logs/cloudbot
    maxsize: 100
    maxage: 7
    compress: true

tasks:
  - name: aliyun_revoke_security_group
    enabled: false
    type: aliyun_RevokeSecurityGroup
    threads: 5
    aliyun:
      access_key_id: your_access_key_id
      access_key_secret: your_access_key_secret
      region_id: cn-shenzhen
      endpoint: ecs.cn-shenzhen.aliyuncs.com
    input:
      type: csv
      path: ./data
      target: rules.csv
  - name: aliyun_fetch_slb
    enabled: false
    type: aliyun_DescribeLoadBalancers
    threads: 5
    aliyun:
      access_key_id: your_access_key_id
      access_key_secret: your_access_key_secret
      region_id: cn-shenzhen
      endpoint: slb.cn-shenzhen.aliyuncs.com
    output:
      type: mysql
      path: root:123456@tcp(127.0.0.1:3306)/aliyun?charset=utf8mb4
      target: slb
  - name: tencent_GetMonitorData
    enabled: true
    type: tencent_GetMonitorData
    threads: 5
    tencent:
      secret_id: your_secret_id
      secret_key: your_secret_key
      region: ap-guangzhou
      endpoint: monitor.tencentcloudapi.com
    input:
      type: csv
      path: ./data
      target: instance_list.csv
    output:
      type: mysql
      path: root:123456@tcp(127.0.0.1:3306)/tencent?charset=utf8mb4
      target: cvm
